@model QuanLyTruongMauGiao.Models.THUCDONTUAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>THUCDONTUAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayBD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTDT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
