@model IEnumerable<QuanLyTruongMauGiao.Models.THUCDONTUAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm", "Create")
</p>
<table class="table">
    <tr>
        <th>STT</th>
        <th>
            @Html.DisplayNameFor(model => model.NgayBD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayKT)
        </th>
        <th></th>
    </tr>
@{ int stt = 0;}
@foreach (var item in Model) {
    stt++;
    <tr>
        <td>@stt</td>
        <td>
            @item.NgayBD.ToString("dd-MM-yyyy")
        </td>
        <td>
            @item.NgayKT.ToString("dd-MM-yyyy")
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaTDT }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaTDT }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaTDT })
        </td>
    </tr>
}

</table>
