@model IEnumerable<QuanLyTruongMauGiao.Models.THUCDONNGAY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ngay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuaSang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuaTrua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuaXe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Ngay.ToString("dd-MM-yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuaSang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuaTrua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuaXe)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaTDN }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaTDN }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaTDN })
        </td>
    </tr>
}

</table>
