@model IEnumerable<QuanLyTruongMauGiao.Models.THUCDONNGAY>
@using QuanLyTruongMauGiao.Models

@{
    ViewBag.Title = "DangKiBuaAn";
    Layout = "~/Views/Shared/LayoutPH.cshtml";
}

<h2><center>Đăng kí bữa ăn</center></h2>
<br />

<table class="table">
    @*<tr>
        @using (Html.BeginForm())
        {
            <p>
                <input type="date" name="startdate" /> to <input type="date" name="enddate" />
                <input type="submit" value="Search" />
            </p>
        }
    </tr>*@
    <tr>
        <th>
            Ngày
        </th>
        <th>
            Bữa sáng
        </th>
        <th>
            Bữa trưa
        </th>
        <th>
            Bữa xế
        </th>
        <th>
            Chọn
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Ngay.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.BuaSang
            </td>
            <td>
                @item.BuaTrua
            </td>
            <td>
                @item.BuaXe
            </td>
            <td>
                <input type="checkbox" value="choice" />
            </td>
        </tr>
    }
</table>
<p><center><button type="submit">Đăng kí</button><input type="reset" value="Hủy" style="margin-left:50px" onclick="location.href = '@Url.Action("HomePagePH","Home")'" /></center></p>


