@model IEnumerable<QuanLyTruongMauGiao.Models.KETQUADANHGIA>
@using PagedList.Mvc;
@using QuanLyTruongMauGiao.Models

@{
    ViewBag.Title = "XemDanhGia";
    Layout = "~/Views/Shared/LayoutPH.cshtml";
    QLMauGiao db = new QLMauGiao();
    var account = Session["user"] as TAIKHOAN;
    var user = (from item in db.PHUHUYNHs where item.TenTK == account.TenTK select item).FirstOrDefault();
    var TenTre = (from item in db.TREs where item.MaPH == user.MaPH select item.TenTre).FirstOrDefault();
}


<h2>Kết quả đánh giá</h2>
<hr />

<div class="form-control col-10" style="width:50%">
    <dl class="dl-horizontal">
        <br /><dt>Tên trẻ: @TenTre</dt>
        <br />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NOIDUNGDANHGIA.NoiDungDanhGia1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.kq)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.PHIEUDANHGIA.TRE.PHUHUYNH.TenTK == account.TenTK)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NOIDUNGDANHGIA.NoiDungDanhGia1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.kq)
                        </td>
                    </tr>

                }
            }
        </table>
        @*<p>
            <center><input type="button" value="Quay lại" onclick="location.href = '@Url.Action("HomePagePH","Home")'" /></center>
        </p>*@
    </dl>
</div>
