@model QuanLyTruongMauGiao.Models.LOP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LOP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiSo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiSo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoTuoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoTuoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaLop }) |
    @Html.ActionLink("Back to List", "Index")
</p>
