@model QuanLyTruongMauGiao.Models.TRE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .warning{
        font-size: 30px;
        color: red;
    }
</style>

<h3 class="warning">Bạn có muốn xóa trẻ này không?</h3>
<div>
    <h4>TRE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LOP.TenLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOP.TenLop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHUHUYNH.TenPH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHUHUYNH.TenPH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QueQuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueQuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanToc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanToc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayNhapHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhapHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xác nhận xóa" class="btn btn-default" /> |
            @Html.ActionLink("Danh sách trẻ", "Index")
        </div>
    }
</div>
