@model QuanLyTruongMauGiao.Models.TRE
@using QuanLyTruongMauGiao.Models
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QLMauGiao db = new QLMauGiao();
    var ph = from item in db.PHUHUYNHs select item;
    var ngaysinh = Model.NgaySinh.ToString("yyyy-MM-dd");
    var ngaynhaphoc = Model.NgayNhapHoc.ToString("yyyy-MM-dd");
}
<script>
    var loadFile = function (event) {
        var image = document.getElementById("output");
        image.src = URL.createObjectURL(event.target.files[0]);
    }
</script>
<h2>Thay đổi thông tin trẻ</h2>

@using (Html.BeginForm("edit", "tre", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @*
            Mã trẻ
        *@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <label class="control-label col-md-10"><h4>Mã trẻ: @Model.MaTre </h4></label>
        <input id="MaTre" name="MaTre" value="@Model.MaTre" hidden="hidden" />
        @*
            Lớp
        *@
        <div class="form-group">
            Lớp            <div class="col-md-10">
                @Html.DropDownList("MaLop", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaLop, "", new { @class = "text-danger" })
            </div>
        </div>
        @*Phụ huynh*@
        <div class="form-group">
            <label class="control-label col-md-2">Phụ huynh</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaPH, new { htmlAttributes = new { @list = "ide", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaPH, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Chi tiết phụ huynh </div>
                                <div class="ibox-tools">
                                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                    <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                            <div class="ibox-body">
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label" style="padding-top: 0"><b>Họ tên</b></label>
                                        <div class="col-sm-10">
                                            @Html.DisplayFor(model => model.PHUHUYNH.TenPH)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label" style="padding-top: 0"><b>Ngày sinh</b></label>
                                        <div class="col-sm-10">
                                            @Model.PHUHUYNH.NamSinh.ToString("dd/MM/yyyy")
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label" style="padding-top: 0"><b>Giới tính</b></label>
                                        @if (Model.PHUHUYNH.GioiTinh)
                                        {
                                            <div class="col-sm-10">
                                                Nam
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-sm-10">
                                                Nữ
                                            </div>
                                        }
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label" style="padding-top: 0"><b>Địa chỉ</b></label>
                                        <div class="col-sm-10">
                                            @Html.DisplayFor(model => model.PHUHUYNH.DiaChi)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label" style="padding-top: 0"><b>Số điện thoại</b></label>
                                        <div class="col-sm-10">
                                            @Html.DisplayFor(model => model.PHUHUYNH.DienThoai)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label" style="padding-top: 0"><b>Tài khoản</b></label>
                                        <div class="col-sm-10">
                                            @Html.DisplayFor(model => model.PHUHUYNH.TenTK)
                                        </div>
                                    </div>
                                    <a href="~/PHUHUYNH/Edit/@Model.PHUHUYNH.MaPH">Sửa</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <b> Không có trong danh sách? </b><a href="~/phuhuynh/create"> Thêm mới</a>
            </div>
        </div>
        <datalist id="ide">
            @foreach (PHUHUYNH item in ph)
            {
                <option value="@item.MaPH"> @item.TenPH @item.DienThoai @item.NamSinh.ToString("dd/MM/yyyy")</option>
            }

            @Html.ValidationMessageFor(model => model.MaPH, "", new { @class = "text-danger" })
        </datalist>


        @*Tên trẻ
        *@
        <div class="form-group">
            Tên trẻ            <div class="col-md-10">
                @Html.EditorFor(model => model.TenTre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenTre, "", new { @class = "text-danger" })
            </div>
        </div>
        @* ngày sinh
        *@
        <div class="form-group">
            Ngày sinh            <div class="col-md-10">
                <input class="form-control" id="NgaySinh" name="NgaySinh" type="date" value="@ngaysinh" />
                @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
            </div>
        </div>
        @*
            Giới tính
        *@
        <div class="form-group">
            Giới tính            <div class="col-md-10">
                @{
                    if (Model.GioiTinh == true)
                    {
                        <input type="radio" value="true" id="GioiTinh" name="GioiTinh" checked="checked" class="radio" /> <span>Nam</span>
                        <input type="radio" value="false" id="GioiTinh" name="GioiTinh" class="radio" /> <span>Nữ</span>

                    }
                    else
                    {
                        <input type="radio" value="true" id="GioiTinh" name="GioiTinh" class="radio" /> <span>Nam</span>
                        <input type="radio" value="false" id="GioiTinh" name="GioiTinh" checked="checked" class="radio" /> <span>Nữ</span>
                    }
                }

                @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
            </div>
        </div>
        @*
            Quê quán
        *@
        <div class="form-group">
            Quê quán            <div class="col-md-10">
                @Html.EditorFor(model => model.QueQuan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QueQuan, "", new { @class = "text-danger" })
            </div>
        </div>
        @*
            Dân tộc
        *@
        <div class="form-group">
            Dân tộc            <div class="col-md-10">
                @Html.EditorFor(model => model.DanToc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DanToc, "", new { @class = "text-danger" })
            </div>
        </div>
        @*
            Ngày nhập học
        *@
        <div class="form-group">
            Ngày nhập học            <div class="col-md-10">
                <input type="date" id="NgayNhapHoc" name="NgayNhapHoc" class="form-control" value="@ngaynhaphoc" />

                @Html.ValidationMessageFor(model => model.NgayNhapHoc, "", new { @class = "text-danger" })
            </div>
        </div>
        @*
            Ảnh
        *@
        <div class="form-group">
            Ảnh            <div class="col-md-10">
                <input class="form-control" id="anh" name="anh" type="text" value="@Model.Anh" hidden="hidden" />
                <input type="file" id="inputimg" name="inputimg" onchange="loadFile(event)" />
                <br />
                <img id="output" alt="anh" width="200" height="200" src="~/Image/Tre/@Model.Anh" />

                @Html.ValidationMessageFor(model => model.Anh, "", new { @class = "text-danger" })
            </div>
        </div>
        @*
            Save
        *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay về", "Index")
</div>
