@model IEnumerable<QuanLyTruongMauGiao.Models.THUCDONNGAY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.THUCDONTUAN.MaTDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuaSang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuaTrua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuaXe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.THUCDONTUAN.MaTDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuaSang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuaTrua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuaXe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTDN }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTDN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTDN })
        </td>
    </tr>
}

</table>
