@model QuanLyTruongMauGiao.Models.GIAOVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form-control col-5">
    <h4>Thông tin giáo viên @Model.TenGV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tài khoản
        </dt>
        <dd>
            @Model.TAIKHOAN.TenTK
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TAIKHOAN.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAIKHOAN.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenGV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Model.NgaySinh.ToString("dd/MM/yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        @if(Model.GioiTinh)
            {
                <dd>Nam</dd>
            }
            else
            {
                <dd>Nữ</dd>
            }

        <dt>
            @Html.DisplayNameFor(model => model.QueQuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueQuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiHopDong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiHopDong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KinhNghiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KinhNghiem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrinhDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrinhDo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChuyenNganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuyenNganh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiTotNghiep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiTotNghiep)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaGV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
