@model IEnumerable<QuanLyTruongMauGiao.Models.GIAOVIEN>
@using QuanLyTruongMauGiao.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QLMauGiao db = new QLMauGiao();
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.TenTK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAIKHOAN.MatKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenGV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th>Lớp </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(ModelItem => item .TenTK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAIKHOAN.MatKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenGV)
        </td>
        <td>
            @item.NgaySinh.ToString("dd/MM/yyyy")
        </td>
            @{ 
                if(item.GioiTinh)
                {
                    <td>Nam</td>
                }
                else
                {
                    <td>Nữ</td>
                }
            }
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @{ 
                var getMaLop = (from lop in db.PHANCONGGIAOVIENs where item.MaGV == lop.MaGV select lop).FirstOrDefault();
                var tenlop = (from ten in db.LOPs where getMaLop.MaLop == ten.MaLop select ten).FirstOrDefault();

            }
            @tenlop.TenLop
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaGV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaGV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaGV })
        </td>
    </tr>
}

</table>
