@model IEnumerable<QuanLyTruongMauGiao.Models.GIAOVIEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TAIKHOAN.MatKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenGV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QueQuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiHopDong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Luong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KinhNghiem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrinhDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChuyenNganh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiTotNghiep)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TAIKHOAN.MatKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenGV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QueQuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiHopDong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Luong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KinhNghiem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrinhDo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChuyenNganh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiTotNghiep)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaGV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaGV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaGV })
        </td>
    </tr>
}

</table>
