@model QuanLyTruongMauGiao.Models.KETQUADANHGIA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KETQUADANHGIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOIDUNGDANHGIA.NoiDungDanhGia1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDUNGDANHGIA.NoiDungDanhGia1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHIEUDANHGIA.MaTre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHIEUDANHGIA.MaTre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kq)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
