@model IEnumerable<QuanLyTruongMauGiao.Models.CHIPHI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaChiPhi }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaChiPhi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaChiPhi })
        </td>
    </tr>
}

</table>
