@model QuanLyTruongMauGiao.Models.TAIKHOAN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string path;
    if (Model.PhanQuyen == "Phụ huynh")
    {
        path = "PhuHuynh";
    }
    else
    {
        path = "GiaoVien";

    }
}


<h3>Bạn có muốn xóa tài khoản @Model.TenTK không?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
     
        <dt>
            @Html.DisplayNameFor(model => model.PhanQuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanQuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>

        <dd>
            <img src="~/Image/@path/@Model.AnhDaiDien" width="200" height="200"/>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
