@model QuanLyTruongMauGiao.Models.TAIKHOAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string path;
    if (Model.PhanQuyen == "Phụ huynh")
    {
        path = "PhuHuynh";
    }
    else
    {
        path = "GiaoVien";

    }
}

<h2>Thông tin tài khoản @Model.TenTK</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            Không hiển thị
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhanQuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanQuyen)
        </dd>
        <dt>
            Ảnh 
        </dt>
        <dd>
            <img src="~/Image/@path/@Model.AnhDaiDien" height="200" width="200" />

        </dd>

      

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.TenTK }) |
    @Html.ActionLink("Trở về", "Index")
</p>
